In [2]:
# Importación de las librerias necesarias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

# Tarea 1: Carga y lectura de datos

El dataset con que se trabajará fue obtenido de Kaggle y corresponde a los audiolibros descargados de la plataforma Audible desde 1998 a 2025, considerando las fechas futuras como ventas planificadas

In [4]:
#Lectura del .csv que contiene los datos usando la libreria pandas
audible = pd.read_csv("https://raw.githubusercontent.com/DanielDataAnalyst/Data-Analyst-Portfolio/main/Proyecto%20Limpieza%20de%20datos%20(dataset%20Audible)/audible_uncleaned.csv")

#Visualizando la tabla con los registros
audible

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

## Datos 

**name**: Nombre del audiolibro

**author**: Autor del audiolibro

**narrathor**: Narrador del audiolibro

**time**: Tiempo de duración del audiolibro

**releasedate**: Fecha de lanzamiento

**language**: Lenguaje del audiolibro**

**stars**: Evaluación del audiolibro

**price**: Precio del audiolibro

Usaremos el método .info para conocer los tipos de datos de las columnas

In [ ]:
audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

# Tarea 2: Limpieza de datos

A continuación vamos a comenzar con las tareas de limpieza, para lo cual eliminaremos las cadenas "Writtenby:" y "Narratedby:" de las columnas "author" y "narrator" respectivamente, para luego separar los nombres. Para lo anterior haremos uso del metodo .str.replace.

In [ ]:
# 1. Eliminando "Writtenby:" de la columna "author" y separando el nombre

audible["author"] = audible["author"].str.replace("Writtenby:","")
audible["author"] = audible["author"].str.replace(r'(?<=\w)(?=[A-Z])', ' ', regex=True)

# 2. Eliminando "Narratedby:" de la columna "narrator" y separando el nombre

audible["narrator"] = audible["narrator"].str.replace("Narratedby:","")
audible["narrator"] = audible["narrator"].str.replace(r'(?<=\w)(?=[A-Z])', ' ', regex=True) 

# 3. Mostrando el dataset modificado
audible

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Stephen O'Shea,Robert Fass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

Ahora se reemplazará de la columna **stars**  con valores nulos los registros con el la cadena **"Not rated yet"** considerando que esto significa que el audiolibro no cuenta con evaluacion aún.

In [ ]:
audible.stars.replace("Not rated yet", np.nan, inplace = True)

audible

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,09-03-17,English,NaN,596.00
87485,The Alps,Stephen O'Shea,Robert Fass,10 hrs and 7 mins,21-02-17,English,NaN,820.00
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,30-12-16,English,NaN,938.00
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,23-02-11,English,NaN,680.00
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,07-03-17,English,NaN,569.00

En este paso se trabajará sobre la columna **ratings**, esta se dividira en 2 columnas llamadas **stars** y **ratings** extrayendo sus valores y convirtiendolos a números con coma, para lo que usaremos las siguientes lineas de códigos.

In [ ]:
# Separar la columna en dos partes
audible[['stars', 'ratings']] = audible['stars'].str.extract('(\d+) out of \d+ stars(\d+) ratings')

# Convertir las columnas a tipos de datos numéricos 
audible['stars'] = pd.to_numeric(audible['stars'])
audible['ratings'] = pd.to_numeric(audible['ratings'])

audible

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5.0,468.00,34.0
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,5.0,820.00,41.0
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,5.0,410.00,38.0
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,5.0,615.00,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,5.0,820.00,181.0
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,09-03-17,English,NaN,596.00,NaN
87485,The Alps,Stephen O'Shea,Robert Fass,10 hrs and 7 mins,21-02-17,English,NaN,820.00,NaN
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,30-12-16,English,NaN,938.00,NaN
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,23-02-11,English,NaN,680.00,NaN
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,07-03-17,English,NaN,569.00,NaN

In [ ]:
audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        9211 non-null   float64
 7   price        87489 non-null  object
 8   ratings      9211 non-null   float64
dtypes: float64(2), object(7)
memory usage: 6.0+ MB